<div id="alles">

<div id="hintergrund">


<div class="signers">
<h1> OTHER PEOPLE WHO SIGNED THE PETITION: </h1>


<ul>
    {{#each signers}}
        <li>{{firstname}} {{lastname}}, {{age}} years old from {{city}} <a href="{{homepage}}"></a></li>
    {{/each}}    
</ul>

</div>

</div>
</div>

